<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.ideusage.IdeUsageMapper">

  <select id="selectUuidsByOrganizationAndUser" parameterType="map" resultType="String">
    select iu.uuid
    from cs_ide_usage iu
    where
    iu.user_uuid=#{userUuid,jdbcType=VARCHAR}
    and iu.organization_uuid=#{organizationUuid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByUuids" parameterType="String">
    delete from cs_ide_usage
    where
    uuid in
    <foreach collection="uuids" open="(" close=")" item="uuid" separator=",">
      #{uuid}
    </foreach>
  </delete>

</mapper>